span.sf-sub-indicator { padding-left: 2px; }
div#header { z-index: 2; position: relative; }

ul.nav li, ul.nav li a { background: none; }
span.top-arrow { display: none; }

ul.nav li ul { background: #08353b; }
.entry-meta p.meta { display: inline; }
.entry-meta { width: 475px; }
.entry-bottom-top { margin-bottom: -13px; }

a.readmore:hover { cursor: pointer; }
.quote_bg { left: -30px !important; }

span.date { width: 65px; }
a.readmore span { cursor: pointer; }
a.fancybox { cursor: pointer; }