span.sf-sub-indicator {padding-left: 2px;}
div#header { z-index: 2; position: relative; }
div#featured-slider { z-index: 1; position: relative; }

span.date { width: 65px; }
a.readmore span { cursor: pointer; }

a.fancybox { cursor: pointer; }